<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h1>Product List</h1>
  <a href="/create">Add Product</a>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <%= product.name %> - $<%= product.price %>
        <a href="/edit/<%= product.id %>">Edit</a>
        <a href="/delete/<%= product.id %>">Delete</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
